@model CampaignModel

<div class="page-container">
    <div class="page-container_shadow">
        <div class="page-bar">
            <div class="row">
                <div class="col-lg-12">
                    <a type="button" class="btn-wheel" href="https://lophocmatngu.com">
                        <div class="div-btn-wheel">
                            <img src="~/images/bar/home.png" />
                            <span>TRANG CHỦ</span>
                        </div>
                    </a>
                    <a type="button" class="btn-wheel" href="#">
                        <div class="div-btn-wheel">
                            <img src="~/images/bar/san-pham.png" style="width:15px;max-width:15px" />
                            <span style="padding-left:20px">SẢN PHẨM</span>
                        </div>

                    </a>
                    <a type="button" class="btn-wheel" href="#" id="popup-help">
                        <div class="div-btn-wheel">
                            <img src="~/images/bar/the-le.png" style="width:15px;max-width:15px;top:8px" />
                            <span style="padding-left:20px">THỂ LỆ</span>
                        </div>
                    </a>
                    <a type="button" class="btn-wheel" href="#">
                        <div class="div-btn-wheel">
                            <img src="~/images/bar/hotro.png" />
                            <span style="padding-left:20px">HỖ TRỢ</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-lucky-wheel">
            <img src="~/images/vong_xoay/text-vong-quay.png" />
        </div>
        <div class="page-wheel">
            <div class="light-wheel">
                <div class="flash-wheel hide-flash">
                    <div class="elipse-wheel">
                        <div class="actor-women">
                            <img src="~/images/vong_xoay/nhan-vat-nu.png" style="max-width:75%" />
                        </div>

                        <div class="border-wheel" style="background:url('@Model.LuckyWheel.PointerRack.ImageSrc') no-repeat; background-size:100% 100%">
                            <div id="chart" style="background:url('@Model.LuckyWheel.MainRim.ImageSrc') no-repeat; background-size:100% 100%"></div>
                            <div class="pointer-wheel">
                                <img src="@Model.LuckyWheel.Pointer.ImageSrc" />
                            </div>
                            <div class="center-circle">
                                <img src="@Model.LuckyWheel.CenterCircle.ImageSrc" />
                            </div>
                            <div class="actor-men">
                                <img src="~/images/vong_xoay/nhan-vat-nam.png" style="max-width:67%" />
                            </div>

                            <div class="actor-blue">
                                <img src="~/images/vong_xoay/nhan-vat-mau-xanh.png" style="max-width:65%" />
                            </div>
                            <div class="dice">
                                <img src="~/images/labai/xuc-sac.png" style="max-width:70%" />
                            </div>
                            <div class="card-red">
                                <img src="~/images/labai/la-bai-do.png" style="max-width:70%" />
                            </div>
                            <div class="card-page">
                                <img src="~/images/labai/card.png" style="max-width:70%" />
                            </div>
                            <div class="card-blue">
                                <img src="~/images/labai/la-bai-xanh.png" style="max-width:70%" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="page-footer">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/images/footer/logo-mat-ngu.png" style="max-width:50%;" />
                    <img src="~/images/footer/logo-bg.png" style="max-width:50%;margin-left:20px" />
                    <img src="~/images/footer/logo-zoo.png" style="max-width:50%;margin-left:20px" />
                    <img src="~/images/footer/phone.png" style="max-width:50%;margin-left:20px" />
                    <span class="footer-phone">
                        096.991.4344
                    </span>
                    <img src="~/images/bar/home.png" style="max-width:50%;margin-left:20px" />
                    <span class="footer-phone">
                        LOPHOCMATNGU.COM
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="out-of-turn-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="page-container-login">
                <div class="page-container-login_shadow">
                    <div class="page-content">
                        <div class="page-bar-content">
                            <div class="row" style="margin:auto">
                                <div class="w-25" style="z-index:2">
                                    <div class="page-bar-content_img">
                                        <img src="~/images/login/nhan-vat-nu.png" />
                                    </div>
                                </div>
                                <div class="w-75" style="z-index:1">
                                    <div class="page-bar-content_text">
                                        <div class="page-bar-content_text__top">
                                            <span>CHÀO MỪNG</span>

                                        </div>
                                        <div class="page-bar-content_text__bot">
                                            ĐẾN VŨ TRỤ LỚP HỌC MẬT NGỮ
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-info">
                            <div style="position: absolute;top: -72px;left:47px">
                                <div class="col-lg-12 col-xl-12" style="margin:auto">
                                    <div class="img-wheel">
                                        <img src="~/images/login/vong-quay.png" />
                                    </div>
                                </div>
                            </div>

                            <div style="margin-top:60px;background:url(/images/login/hieu-ung2.png);    ">
                                <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                    <div class="text-info-login">
                                        TIẾC QUÁ! BẠN HẾT LƯỢT QUAY MẤT RỒI. NHẬP MÃ COUPON ĐỂ THỰC HIỆN LƯỢT QUAY MỚI NHÉ!
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                    <div class="text-info-login" style="font-size:12px">
                                        <i>MỌI THẮC MẮC XIN LIÊN HỆ HOTLINE: 096.991.4344<br />XIN CẢM ƠN!</i>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="position:relative">
                                <div class="img-login-footer">
                                    <img src="~/images/login/nhan-vat-nam.png" style="max-width:50%" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:40px;padding-bottom:40px">
                                <div class="col-lg-12 col-xl-12" style="margin:auto">
                                    <a href="javascrip:0" class="button-login" id="button-login" style="z-index:100">
                                        NHẬP MÃ
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="popup-success-modal" role="dialog">
    <div class="modal-dialog">
        <div class="page-container-login">
            <div class="page-container-login_shadow">
                <div class="page-content">
                    <div class="page-bar-content">
                        <div class="row" style="margin:auto">
                            <div class="w-25" style="z-index:2">
                                <div class="page-bar-content_img">
                                    <img src="~/images/login/nhan-vat-nu.png" />
                                </div>
                            </div>
                            <div class="w-75" style="z-index:1">
                                <div class="page-bar-content_text">
                                    <div class="page-bar-content_text__top">
                                        <span>CHÀO MỪNG</span>

                                    </div>
                                    <div class="page-bar-content_text__bot">
                                        ĐẾN VŨ TRỤ LỚP HỌC MẬT NGỮ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-info">
                        <div style="position: absolute;top: -72px;left:47px">
                            <div class="col-lg-12 col-xl-12" style="margin:auto">
                                <div class="img-wheel">
                                    <img src="~/images/login/vong-quay.png" />
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:30px;background:url(/images/login/hieu-ung2.png);    ">
                            <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                <div class="text-info-login">
                                    CHÚC MỪNG BẠN ĐÃ TRÚNG
                                </div>
                                <div class="text-info-receive" id="name-reward">
                                    x1<i> Truyện tranh LMHN</i>
                                </div>
                                <div class="img-gift">
                                    <img src="~/images/login/gift.png" style="max-width:50%" />
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                <div class="text-info-login" style="font-size:12px">
                                    <i>Bộ phận CSKH sẽ liên hệ với bạn trong vòng 48 tiếng để trao quà!<br />Xin cảm ơn và chúc bạn chơi game vui vẻ !</i>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:40px;padding-bottom:40px">
                            <div class="col-lg-12 col-xl-12" style="margin:auto">
                                <a href="javascrip:0" class="button-login">
                                    ĐÓNG
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popup-help-modal" role="dialog">
    <div class="modal-dialog modal-dialog-help">
        <div class="modal-content">
            <div class="image-wheel">
                <img src="~/images/login/vong-quay.png" />
            </div>
            <div class="modal-header header-help">
                <div class="modal-title title-help">HƯỚNG DẪN THAM GIA VÒNG QUAY</div>
                <a type="button" class="close img-close-popup" data-dismiss="modal" href="javascrip:0">
                    <img src="~/images/login/close-popup.png" />
                </a>
                <div class="image-girl">
                    <img src="~/images/login/nhan-vat-nu.png" />
                </div>
            </div>
            <div class="modal-body" style="background-color:#0f2f9c;padding: 7px;padding-top: 0px !important;">
                <div class="modal-body-help">
                    <div class="w-100 text-info-help">
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 1</span>
                                : Truy tìm ngay Mã coupon trong phiếu quà tặng được chứa trong hộp board game lớp học mật ngũ mà bạn đã mua <br />...tèng teng... thấy mã rồi nè
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 2</span>
                                : Dùng điện thoại hoặc máy tính vào trang website: gift.lophocmatngu.com <br />...òa vũ trụ lớp học mật ngữ đây rồi
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 3</span>
                                : nhập mã coupon và điền thông tin nhận quà vào bảng hiển thị tại website.<br />lưu ý mỗi mã coupon chỉ được quay một lần nhé.
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 4</span>
                                : quay nào... quay nào <br />- vòng quay dừng lại tại đâu thì đó chính là phần quà của bạn đó nha. Thích quá thích quá, quà cute quá...
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 5</span>
                                :Nhận quà <br />- trong vòng 48 tiếng, bộ phận cskh của lớp học mật ngữ sẽ liên hệ với các bạn để trao quà. Nếu bạn nào không muốn chờ đợi thì hãy gọi ngay cho chúng tớ theo hotline 096.991.4344 để được kiểm tra và hỗ trợ gửi quà sớm nhá.
                                <br /> 100% các bạn đều nhận được quà, quà lớn quà nhỏ là phụ thuộc may mắn của chúng ta! là lá la.
                                <br /> cùng quay thôi nào và chúc các bạn may mắn nhận đc món quà thật to thật to nhá nhá <3
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="img-footer-left-help">
                                <img src="~/images/login/toc-hong.png" style="max-width:50%" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="img-footer-right-help">
                                <img src="~/images/login/xuc-xac.png" style="max-width:50%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal" id="popup-login-modal">
    <div class="modal-dialog" style="max-width:700px !important; width:700px !important">
        <div class="modal-content">
            <div class="page-container-login">
                <div class="page-container-login_shadow">
                    <div class="page-content">
                        <div class="page-bar-content" style="left: 230px;">
                            <div class="row" style="margin:auto">
                                <div class="w-25" style="z-index:2">
                                    <div class="page-bar-content_img">
                                        <img src="~/images/login/nhan-vat-nu.png" />
                                    </div>
                                </div>
                                <div class="w-75" style="z-index:1">
                                    <div class="page-bar-content_text">
                                        <div class="page-bar-content_text__top">
                                            <span>CHÀO MỪNG</span>

                                        </div>
                                        <div class="page-bar-content_text__bot">
                                            ĐẾN VŨ TRỤ LỚP HỌC MẬT NGỮ
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-info">
                            <div style="position: absolute;top: -72px;left:calc(50% - 130px)">
                                <div class="col-lg-12 col-xl-12" style="margin:auto">
                                    <div class="img-wheel">
                                        <img src="~/images/login/vong-quay.png" />
                                    </div>
                                </div>
                            </div>

                            <div style="margin-top:40px;background:url(/images/login/hieu-ung2.png);    ">
                                <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                    <div class="text-info-login">
                                        NHẬP THÔNG TIN
                                    </div>
                                </div>
                            </div>
                            <form id="form-submit" style="width:100%" method="get" accept-charset="utf-8" role="form">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6 pading-7" style="margin:auto">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                Mã voucher
                                            </div>
                                            <div class="w-50 input-info-login_input">
                                                <input class="w-100" placeholder="NTC112233" id="voucher" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6 pading-7">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                Họ & Tên
                                            </div>
                                            <div class="w-50 input-info-login_input">
                                                <input class="w-100" placeholder="Nguyễn Văn A" id="name-customer" type="text" minlength="1" required />
                                                @*@Html.TextBoxFor(model => model.FullName, new { @class = "w-100", @type = "text", required = "", @id = "name-customer", @placeholder = "Nguyễn Văn A" })
                                                    <span class="help-block help-block-margin">@Html.ValidationMessageFor(model => model.FullName)</span>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 pading-7">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                Email
                                            </div>
                                            <div class="w-50 input-info-login_input">
                                                <input class="w-100" placeholder="nguyenvana@gmail.com" id="email-customer" type="email" required />
                                                @*@Html.TextBoxFor(model => model.Email, new { @class = "w-100", @type = "email", required = "", @id = "email-customer", @placeholder = "nguyenvana@gmail.com" })
                                                        <span class="help-block help-block-margin">@Html.ValidationMessageFor(model => model.Email)</span>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 pading-7">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                Ngày sinh
                                            </div>
                                            <div class="w-50 input-info-login_input">
                                                <input class="w-100" placeholder="01/01/2010" id="datetimepicker" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 pading-7">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                Địa chỉ
                                            </div>
                                            <div class="w-50 input-info-login_input">
                                                <input class="w-100" placeholder="Số 1 Hoàng Đạo Thúy" id="address-customer" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 pading-7">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                Giới tính
                                            </div>
                                            <div class="w-50 input-info-login_input">
                                                <input class="w-100" placeholder="Nam/Nữ" id="sex-customer" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 pading-7">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                SĐT
                                            </div>
                                            <div class="w-50 input-info-login_input">
                                                <input class="w-100" placeholder="0987654321" id="phone-customer" type="number" />
                                                @*@Html.TextBoxFor(model => model.PhoneNumber, new { @class = "w-100", required = "", @id = "phone-customer", @placeholder = "0987654321" })
                                                    <span class="help-block help-block-margin">@Html.ValidationMessageFor(model => model.PhoneNumber)</span>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 pading-7">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                Tỉnh/ TP
                                            </div>
                                            <div class="w-50 input-info-login_select">
                                                <select onchange="chooseCity(this)" id="city">
                                                    <option value="0">Chọn Tỉnh/ TP</option>
                                                    @for (int i = 0; i < Model.Cities.Count; i++)
                                                    {
                                                        var city = Model.Cities[i];
                                                        <!option value="@city.Id">@city.Name</!option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-6 pading-7">
                                        <div class="input-info-login">
                                            <div class="w-50 input-info-login_text">
                                                Quận/ Huyện
                                            </div>
                                            <div class="w-50 input-info-login_select" id="district">
                                                <select id="select-district">
                                                    <option value="0">Chọn Quận/Huyện</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row" style="position:relative">
                                <div class="img-login-footer">
                                    <img src="~/images/login/nhan-vat-nam.png" style="max-width:50%" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:40px;padding-bottom:40px">
                                <div class="col-lg-12 col-xl-12" style="margin:auto">
                                    <a href="javascrip:0" class="button-login" id="button-login" onclick="submitInfo()" style="z-index:100">
                                        ĐĂNG NHẬP
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    body {
        margin-bottom: 0px;
    }

    .page-container {
        /*background: url("/images/backgound.png") no-repeat;
        height: 100vh;
        background-size: 100% 100%;*/
        background-color: #0c051d;
    }

    .container {
        max-width: 100%;
        padding: 0px;
    }

    .page-container_shadow {
        background: url("/images/back-ground-new.png") no-repeat;
        height: 100vh;
        background-size: 100% 100%;
    }

    .page-bar {
        text-align: center;
        padding-top: 10px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .page-footer {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .input-info-login_select > select {
        border: none;
        height: 32px;
        border-radius: 17px;
        width: 90%;
        background-color: white;
    }

        .input-info-login_select > select:focus {
            outline: none;
        }

    #chart {
        position: absolute;
        top: 40px;
        left: 13px;
        z-index: 10;
        width: 365px;
        height: 365px;
        /*background: url("/images/background-wheel.png") no-repeat;*/
        /*background-size: 100% 100%;*/
        -webkit-transition: -webkit-transform 3s ease-out;
    }

    a:hover {
        text-decoration: none !important;
        color: #fff;
    }

    .btn-wheel {
        color: #fff;
        display: flex;
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        height: auto;
        background-color: #D800DB;
        border: 1px solid inherit !important;
        border-radius: 10px;
        font-family: FontButton;
        font-size: 16px;
        white-space: nowrap;
        cursor: pointer;
        text-transform: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 3px;
        margin-left: 20px;
        min-width: 90px;
    }

    .div-btn-wheel {
        position: relative;
        border-radius: 10px;
        -moz-box-shadow: 0px 0px 0px 1px #b3009b, 2px 2px 1px 0px #b3009b;
        -webkit-box-shadow: 0px 0px 0px 1px #b3009b, 2px 2px 1px 0px #b3009b;
        box-shadow: 0px 0px 0px 1px #b3009b, 2px 2px 1px 0px #b3009b;
    }

        .div-btn-wheel > img {
            max-width: 13px;
            position: absolute;
            top: 5px;
        }

        .div-btn-wheel > span {
            padding-left: 15px;
        }

    .actor-men {
        position: absolute;
        right: -340px;
        top: -70px;
        z-index: 1;
    }

    .footer-phone {
        font-family: FontButton;
        font-size: 20px;
        color: #fff;
        vertical-align: middle;
    }

    .pointer-wheel {
        position: absolute;
        top: 0px;
        left: calc(50% - 25px);
        z-index: 1;
    }

        .pointer-wheel > img {
            max-width: 70%;
        }

    .center-circle {
        position: absolute;
        top: 38%;
        left: 28%;
        z-index: 10;
    }

        .center-circle > img {
            max-width: 70%;
        }

    .actor-women {
        position: absolute;
        left: -130px;
        z-index: 1;
        top: -45px;
    }

    .actor-blue {
        position: absolute;
        left: -270px;
        bottom: 30px;
    }

    .dice {
        position: absolute;
        right: -40px;
        bottom: -5px;
    }

    .card-blue {
        position: absolute;
        right: -50px;
        bottom: 100px;
    }

    .card-red {
        position: absolute;
        left: -120px;
        top: -25px;
        z-index: 1;
    }

    .card-page {
        position: absolute;
        left: -210px;
        bottom: 130px;
    }

    .page-wheel {
        text-align: center;
        width: 100%;
        margin-top: 5px
    }

    .text-lucky-wheel {
        text-align: center;
        width: 100%;
        margin: 10px 0px;
    }

    .light-wheel {
        width: 450px;
        height: 430px;
        margin: auto;
        background: url("/images/vong_xoay/tia-sang.png") no-repeat;
        background-size: 100% 100%;
    }

    .flash-wheel {
        /*width: 385px;
        height: 385px;*/
        margin: auto;
        background: url("/images/vong_xoay/den-nhay.png") no-repeat;
        background-size: 100% 100%;
    }

    .elipse-wheel {
        width: 420px;
        height: 435px;
        margin: auto;
        background: url("/images/vong_xoay/elipse.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .border-wheel {
        width: 390px;
        height: 420px;
        margin: auto;
        position: relative;
        z-index: 10;
    }
    /*sâs*/
    .page-bar-content_img {
        z-index: 2;
    }

        .page-bar-content_img > img {
            float: left;
        }

    @@media (min-width: 991px) {
        .page-bar-content_img > img {
            float: right;
            max-width: 150%;
        }

        .page-bar-content_text {
            width: 75%;
            position: absolute;
            text-align: left;
            top: 12px;
            left: calc(25% - 20px);
        }

        .text-lucky-wheel > img {
            max-width: 18%;
        }
    }

    @@media (max-width: 991px) {
        .page-bar-content_img > img {
            float: right;
            max-width: 100%;
        }

        .page-bar-content_text {
            width: 75%;
            position: absolute;
            text-align: left;
            left: calc(25% - 24px);
        }

        .text-lucky-wheel > img {
            max-width: 25%;
        }
    }

    .page-bar-content {
        position: absolute;
        top: -135px;
    }

    .page-bar-content_text__top {
        font-family: ObelixPro;
        color: #f6cf2e;
        font-size: 18px;
        width: 100px;
        background-color: #1d0052;
        border-radius: 6px;
        padding-left: 21px;
    }

    .page-bar-content_text__bot {
        font-family: ObelixPro;
        color: #fff;
        font-size: 18px;
        width: 230px;
        background-color: #1d0052;
        border-radius: 6px;
        padding-left: 21px;
        margin-top: -4px;
    }

    .img-wheel {
    }

        .img-wheel > img {
            max-width: 50%;
        }

    .text-info-login {
        font-family: UTMAVOBOLD;
        color: #fff;
        font-size: 15px;
        padding-top: 10px;
    }

    .input-info-login {
        background-color: #fff;
        border: 1px solid #ddd;
        height: 34px;
        min-width: 200px;
        border-radius: 17px 17px;
        display: flex;
    }

    .input-info-login_text {
        font-family: UTMAVO;
        font-size: 13px;
        padding: 6px 8px;
        color: black;
        font-weight: bold;
        text-align: left;
    }

    .input-info-login_input {
        font-family: UTMAVO;
        font-size: 13px;
        padding-right: 10px;
    }

        .input-info-login_input > input {
            border: none;
            padding: 6px;
        }

            .input-info-login_input > input:focus {
                outline: none;
            }

    .pading-7 {
        padding: 7px;
    }

    .button-login {
        height: 34px;
        font-family: UTMAVOBOLD;
        font-size: 14px;
        color: white;
        background: url(/images/login/background-button.png) no-repeat;
        background-size: 100% 100%;
        padding-top: 6px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 13px;
        text-decoration: none;
        cursor: pointer;
    }

    .img-login-footer {
        position: absolute;
        right: -1px;
        top: -10px;
        right: -80px;
    }

    .page-container-login_shadow {
        background: url("/images/login/backgound-nen.png") no-repeat;
        background-size: 100% 100%;
    }

    .page-container-login {
        background: url("/images/login/background-login.png") no-repeat;
        background-size: 100% 100%;
    }

    .page-content {
        text-align: center;
        padding-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
        margin: auto;
    }

    .modal-dialog {
        margin-top: 10rem !important;
        width: 370px;
    }

    .text-info-receive {
        padding-top: 6px;
        font-size: 12px;
        font-family: UTMAVO;
        color: #ffc600;
    }

    .img-gift {
        margin-top: 10px;
    }

    .header-help {
        background-color: #122db4;
    }

    .header-help {
        color: white;
        font-family: ObelixPro;
        font-size: 16px;
        z-index: 2;
    }

    .title-help {
        text-align: center;
        width: 100%;
    }

    .image-girl {
        position: absolute;
        left: -25px;
        top: -25px;
    }

        .image-girl > img {
            max-width: 50%;
        }

    .image-wheel {
        position: absolute;
        width: 100%;
        left: calc(50% - 70px);
        top: -105px;
        z-index: 1;
    }

        .image-wheel > img {
            max-width: 35%;
        }

    .img-close-popup {
        position: absolute;
        right: -30px;
        top: -12px;
        -webkit-appearance: none;
        opacity: 1 !important;
        padding: 0px !important;
        margin: 0px !important;
    }

        .img-close-popup > img {
            max-width: 50%;
        }

    .text-info-help {
        font-size: 10px;
        font-family: UTMAVOBOLD;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .modal-body-help {
        border: 2px solid #216ae7;
        border-radius: 4px;
        background-color: #091a6d;
        padding-top: 15px
    }

    .modal-dialog-help {
        margin-top: 8rem !important;
    }

    .img-footer-left-help {
        position: absolute;
        top: -105px;
        left: -50px;
    }

    .img-footer-right-help {
        position: absolute;
        right: -100px;
        top: -60px;
    }

    .hide-flash {
        -webkit-animation: FLASH-ANIMATION 1s infinite; /* Safari 4+ */
        -moz-animation: FLASH-ANIMATION 1s infinite; /* Fx 5+ */
        -o-animation: FLASH-ANIMATION 1s infinite; /* Opera 12+ */
        animation: FLASH-ANIMATION 1s infinite; /* IE 10+, Fx 29+ */
    }

    @@-webkit-keyframes FLASH-ANIMATION {
        0%, 49% {
            /*width: 385px;
            height: 385px;*/
            margin: auto;
            background: url("/images/vong_xoay/den-nhay.png") no-repeat;
            background-size: 100% 100%;
        }

        50%, 100% {
            /*width: 385px;
            height: 385px;*/
            margin: auto;
            background: none;
        }
    }
    /* ----------- iPhone 5 and 5S ----------- */
    @@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
        .btn-wheel {
            margin-left: 0px;
            min-width: 85px;
            margin-top: 5px;
        }

        .text-lucky-wheel > img {
            max-width: 40%;
        }

        .light-wheel {
            width: 240px;
            height: 240px;
            margin: auto;
            background: url(/images/vong_xoay/tia-sang.png) no-repeat;
            background-size: 100% 100%;
        }

        .flash-wheel {
            width: 220px;
            height: 220px;
            margin: auto;
            background: url(/images/vong_xoay/den-nhay.png) no-repeat;
            background-size: 100% 100%;
        }

        .elipse-wheel {
            width: 220px;
            height: 230px;
            margin: auto;
            background: url(/images/vong_xoay/elipse.png) no-repeat;
            background-size: 100% 100%;
        }

        .border-wheel {
            width: 190px;
            height: 215px;
            margin: auto;
            position: relative;
        }

        #chart {
            position: absolute;
            top: 25px;
            left: 5px;
            z-index: 10;
            width: 180px;
            height: 180px;
            -webkit-transition: -webkit-transform 3s ease-out;
        }

        .center-circle {
            position: absolute;
            top: calc(50% - 19px);
            left: calc(50% - 82px);
            z-index: 10;
        }

            .center-circle > img {
                max-width: 30%;
            }

        .pointer-wheel {
            position: absolute;
            top: 0px;
            left: calc(50% - 25px);
            z-index: 1;
        }

            .pointer-wheel > img {
                max-width: 40%;
            }

        .hide-flash {
            -webkit-animation: none; /* Safari 4+ */
            -moz-animation: none; /* Fx 5+ */
            -o-animation: none; /* Opera 12+ */
            animation: none; /* IE 10+, Fx 29+ */
        }

        .dice {
            position: absolute;
            right: -40px;
            bottom: 0px;
        }

            .dice > img {
                max-width: 40% !important
            }

        .actor-men {
            position: absolute;
            right: -225px;
            z-index: 1;
        }

            .actor-men > img {
                max-width: 20% !important
            }

        .actor-women {
            position: absolute;
            left: -160px;
            z-index: 1;
        }

            .actor-women > img {
                max-width: 25% !important;
            }

        .actor-blue {
            position: absolute;
            left: -190px;
            bottom: 0px;
        }

            .actor-blue > img {
                max-width: 20% !important;
            }
    }
    @@media only screen and (min-device-width: 1920px){
        .text-lucky-wheel {
            text-align: center;
            width: 100%;
            margin: 20px 0px;
        }

        .light-wheel {
            width: 485px;
            height: 465px;
            margin: auto;
            background: url(/images/vong_xoay/tia-sang.png) no-repeat;
            background-size: 100% 100%;
        }
        .elipse-wheel {
            width: 455px;
            height: 470px;
            margin: auto;
            background: url(/images/vong_xoay/elipse.png) no-repeat;
            background-size: 100% 100%;
            position: relative;
        }

        .border-wheel {
            width: 425px;
            height: 455px;
            margin: auto;
            position: relative;
            z-index: 10;
        }

        .center-circle {
            position: absolute;
            top: 40%;
            left: 31%;
            z-index: 10;
        }
        #chart {
            position: absolute;
            top: 40px;
            left: 13px;
            z-index: 10;
            width: 400px;
            height: 400px;
            /* background: url(/images/background-wheel.png) no-repeat; */
            /* background-size: 100% 100%; */
            -webkit-transition: -webkit-transform 3s ease-out;
        }

        .actor-blue {
            position: absolute;
            left: -285px;
            bottom: 30px;
        }
        .page-footer {
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 20px;
        }
    }
</style>
<script>
    $(function () {
        $("#popup-help").click(function () {
            $("#popup-help-modal").modal();
        });
        $("#button-login").click(function () {
            $("#popup-login-modal").modal('show');
        });
        var dataLength = @Model.Rewards.Count;
        var count = 0;
        $(".center-circle > img").click(function () {
            var cookieReward = getCookie("cookieReward");
            if (cookieReward == null || cookieReward == undefined || cookieReward == "") {
                if (count > 0) {
                    $("#out-of-turn-modal").modal('show');
                    return;
                }
                else {
                    //$("#button-login-modal").click();
                    $("#popup-login-modal").modal('show');
                    //window.location.href = "/reward";
                    return;
                }
            }
             $.ajax({
                url: "/PostInfo",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: cookieReward,
                success: function (data) {
                    var picked = data.roll.rewardOrdinal - 1;
                    var ps = 360 / dataLength
                    var rotation = (dataLength - picked) * ps + 3 * 360;
                    var style = $("#chart").attr("style") == null ? "" : $("#chart").attr("style")
                    var css = '-webkit-transform: rotate(' + rotation + 'deg);' + style;
                    $("#chart").removeAttr('style');
                    $("#chart").attr("style", css);
                    deleteCookie("cookieReward");
                    count++;
                    setTimeout(function () {
                        $("#popup-success-modal").modal();
                        var imgReward = data.roll.reward.imageSrc;
                        var nameReward = "x1 <i>" + data.roll.reward.name + "</i>";
                        $(".img-gift >img").attr("src", imgReward);
                        $("#name-reward").html(nameReward);
                    }, 3000)
                },
                 error: function (data) {
                     deleteCookie("cookieReward");
                     var n = new Noty({
                         type: 'error',
                         layout: 'topCenter',
                         text: 'Hãy nhập mã voucher!',
                         theme: 'mint',
                         animation: {
                             open: 'animated fadeInRight',
                             close: 'animated fadeOutRight'
                         }
                     });
                     n.setText("Có lỗi xảy ra!", true)
                     n.show();
                     n.setTimeout(2000);
                },
                complete: function () {

                }
            });

        });
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return null;
        }
        function deleteCookie(name) {
            document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

    });
    $('#datetimepicker').datepicker({
        format: 'dd/mm/yyyy'
    });

    function submitInfo() {
        debugger

        var check = validateInfo();
        if (!check) {
            return
        }
        var birthday = $('#datetimepicker').val();
        var model = {};
        model.rollingCode = $("#voucher").val();
        model.customer = {};
        model.customer.fullName = $("#name-customer").val();
        model.customer.phoneNumber = $("#phone-customer").val();
        model.customer.email = $("#email-customer").val();
        model.customer.genderId = $("#sex-customer").val() == "Nam" ? 1 : 0;
        model.customer.address = {};
        model.customer.address.provinceId = $("#city").val();
        model.customer.address.districtId = $("#select-district").val();
        model.customer.address.label = $("#address-customer").val();
        model.customer.birthday = {};
        model.customer.birthday.day = birthday.substr(0, 2);
        model.customer.birthday.month = birthday.substr(3, 2);
        model.customer.birthday.year = birthday.substr(6, 4);
        setCookie("cookieReward", JSON.stringify(model), 1);
        var n = new Noty({
            type: 'success',
            layout: 'topCenter',
            text: 'Bạn đã đăng nhập thành công!',
            theme: 'mint',
            animation: {
                open: 'animated fadeInRight',
                close: 'animated fadeOutRight'
            }
        });
        n.show();
        setTimeout(function () {
            window.location.href = "/index";
        }, 2000);
    }
    function validateInfo() {
        var regexphone = /^[0-9\(\)\ \-\+]{10,25}$/;
        var remail = /^(([^<>()[\]\\.,;:\s\"]+(\.[^<>()[\]\\.,;:\s\"]+)*)|(\".+\"))((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var n = new Noty({
            type: 'error',
            layout: 'topCenter',
            text: 'Hãy nhập mã voucher!',
            theme: 'mint',
            animation: {
                open: 'animated fadeInRight',
                close: 'animated fadeOutRight'
            }
        });
        if ($("#voucher").val() == "" || $("#voucher").val() == null) {
            n.setText("Hãy nhập mã voucher!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#name-customer").val() == "" || $("#name-customer").val() == null) {
            n.setText("Hãy nhập tên của bạn!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#phone-customer").val() == "" || $("#phone-customer").val() == null) {
            n.setText("Hãy nhập tên của bạn!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#phone-customer").val() != "" && $("#phone-customer").val() != null && !regexphone.test($("#phone-customer").val())) {
            n.setText("Số điện thoại chưa đúng định dạng!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#email-customer").val() != undefined && $("#email-customer").val() != null && $("#email-customer").val() != "" && !remail.test($("#email-customer").val())) {
            n.setText("Email chưa đúng định dạng!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#email-customer").val() == "" || $("#email-customer").val() == null) {
            n.setText("Hãy nhập email của bạn!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#sex-customer").val() == "" || $("#sex-customer").val() == null) {
            n.setText("Hãy nhập giới tính của bạn!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#address-customer").val() == "" || $("#address-customer").val() == null) {
            n.setText("Hãy nhập địa chỉ!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#city").val() == "" || $("#city").val() == 0 || $("#city").val() == null) {
            n.setText("Hãy nhập tỉnh thành!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        if ($("#select-district").val() == "" || $("#select-district").val() == null || $("#select-district").val() == 0) {
            n.setText("Hãy nhập quận huyện!", true)
            n.show();
            n.setTimeout(2000);
            return false;
        }
        return true;
    }
    function setCookie(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function chooseCity(ele) {
        var cityId = $(ele).val();
        $("#select-district").empty();
        $.ajax({
            url: "/GetByCityId",
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            data: { cityId: cityId },
            success: function (data) {
                $("#select-district").append($('<option>', {
                    value: 0,
                    text: "Chọn Quận/ Huyện"
                }));
                $.each(data, function (i, item) {
                    $("#select-district").append($('<option>', {
                        value: item.id,
                        text: item.name
                    }));
                });
            },
            complete: function () {

            }
        });
    }
</script>